body {
}
.panel-body .row {
    padding: 4px 0;
}
.login-form {
    top: 100px;
    background: #fff;
    text-align: right;
    direction: rtl;
    border: 1px solid silver;
}
.login-header {
    background-color: #41586E;
    color: #fff;
    text-align: center;
    min-height: 41px;
}
.login-btn {
    background-color: #41586E;
    color: #fff;
}
.field-input
{
    margin-bottom:5px;
}
.admin-info {
    padding: 10px;
    text-align:center;
    direction:rtl;
}
.lfloat
{
    float:left;
}

#parent-message {
    margin: 0 5px;
    display: none;
}

.table .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}

#factor tfoot tr td {
    color: #428bca;
    font-size: 15px;
    /*width: 100%;*/
}

#factor thead th {
    text-align: right;
}

#factor tbody tr td i {
    cursor: pointer;
}

.modalWindow{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1500;
    background: white;
    opacity: 0.7;
}


#loading {
    text-align: center;

}

#loading img {
    vertical-align: middle;
    position: fixed;
    top: 30%;
    display: none;
}


.qtytable input {
    width: 45px;
}

.amounttable input {
    width: 115px;
}

#submit-succes, #submit-error, #submitsendFactoru-succes, #submitsendFactoru-error {
    display: none;
    direction: rtl;
    text-align: right;
}


.history-table thead th {
    text-align: right;
}

.field-validation-error {
    color: red;
}
 
.badge-danger {
    background-color: red;
    margin-left: 3px;
}